* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #5a5a5a;
}

img {
    cursor: pointer;
}

/*********** Navigation Bar ***********/

.flex-div {
    display: flex;
    align-items: center;
}

nav {
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 20%);
    background: #ffffff;
    position: sticky;
    top: 0px;
    z-index: 10;
}

/* Navigation-left */

.nav-left .menu-icon {
    width: 22px;
    margin-right: 25px;
}

.nav-left .logo {
    width: 120px;
}

/* Navigation-middle */

.nav-middle .mic-icon {
    width: 16px;
}

.nav-middle .search-box {
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.nav-middle .search-box input {
    background: transparent;
    width: 400px;
    border: 0px;
    outline: 0px;
}

.nav-middle .search {
    width: 32.349px;
    border: 1px solid #ccc;
    padding: 8px;
    margin-right: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: none;
}

/* Navigation-right */

.nav-right img {
    width: 25px;
    margin-right: 25px;
}

.nav-right .user-icon {
    margin-right: 0px;
    width: 35px;
    border-radius: 50%;
}

/*********** Side Bar ***********/

.small-sidebar {
    height: 100vh;
    position: fixed;
    top: 0px;
    width: 5%;
    padding-left: 2%;
    padding-top: 80px;
    background: #ffffff;
}

.small-sidebar a p {
    display: none;
}

.small-sidebar h3 {
    display: none;
}

.small-sidebar hr {
    border: 0px;
    height: 1px;
    background: #ccc;
    width: 60%;
    margin-bottom: 25px;
}

.sidebar {
    width: 15%;
}

.sidebar a p {
    display: inline-block;
}

.sidebar h3 {
    display: inline-block;
}

.sidebar hr {
    width: 85%;
}

/* Shortcut-links */

.shortcut-links a img {
    width: 20px;
    margin-right: 13px;
}

.shortcut-links a {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}

.shortcut-links a p {
    font-size: 15px;
}

.shortcut-links a:first-child {
    color: #ed3833;
}

/* Subscribed List */

.subscribed-list h3 {
    font-size: 15px;
    margin-bottom: 20px;
    color: #797979;
}

.subscribed-list a {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    /* flex-wrap: wrap; */
}

.subscribed-list img {
    width: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

.subscribed-list a p {
    font-size: 15px;
}

/**************** Main-Content ****************/

/* Container */

.container {
    background: #f9f9f9;
    padding-left: 7%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.large-container {
    padding-left: 17%;
}

/* Banner */

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    border-radius: 8px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* List-container */

.list-container {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 16px;
    row-gap: 30px; */
    display: flex;
    margin-top: 15px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.large-container .list-container .vid-list {
    flex-basis: 23.9%;
}

.vid-list {
    flex-basis: 24%;
    margin-bottom: 25px;
    margin-left: 15px;
}

.vid-list:nth-child(4n + 1) {
    margin-left: 0px;
}

.vid-list .thumbnail {
    width: 100%;
    border-radius: 5px;
}

.vid-list .flex-div {
    align-items: flex-start;
    margin-top: 7px;
}

.vid-list .flex-div img {
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
}

.vid-info {
    color: #5a5a5a;
    font-size: 13px;
}

.vid-info a {
    color: #000000;
    font-weight: 500;
    font-size: 1rem;
    display: block;
    margin-bottom: 5px;
}

footer {
    display: none;
}

@media (max-width: 1263px) and (min-width: 900px) {
    .vid-list {
        flex-basis: 23.628394%;
    }

    .large-container .list-container .vid-list {
        flex-basis: 23.46%;
    }

    .nav-middle .search-box input {
        background: transparent;
        width: 350px;
        border: 0px;
        outline: 0px;
    }
}

@media (max-width: 900px) and (min-width: 600px) {
    .menu-icon {
        display: none;
    }

    .small-sidebar {
        display: none;
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .vid-list {
        flex-basis: 48.665%;
        margin-left: 15px;
    }

    .nav-left .logo {
        width: 110px;
    }

    .nav-middle .search-box input {
        width: 200px;
    }

    .nav-right img {
        display: none;
    }

    .nav-right .user-icon {
        display: inline-block;
        width: 30px;
        margin-right: 8px;
    }

    .vid-list:nth-child(2n + 1) {
        margin-left: 0px;
    }

    /* footer Css */
    footer {
        box-shadow: 0 0 10px rgba(0, 0, 0, 20%);
        position: sticky;
        bottom: 0px;
        height: 40px;
        justify-content: space-evenly;
        background: #ffffff;
    }

    footer a img {
        width: 20px;
    }

    footer a:nth-child(3) img {
        width: 30px;
    }

    footer a p {
        font-size: 10px;
    }

    footer a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer-flex-div {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 600px) and (min-width: 335px) {
    .menu-icon {
        display: none;
    }

    .small-sidebar {
        display: none;
    }

    .container,
    .list-container {
        display: flex;
        flex-direction: column;
        padding-right: 5%;
        padding-left: 5%;
    }

    .container {
        padding-bottom: 0px;
    }

    .list-container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .nav-middle .search-box {
        padding: 6px 10px;
    }

    .nav-middle .search {
        width: 28.35px;
        padding: 6px;
    }

    .nav-left .logo {
        width: 100px;
    }

    .nav-middle .mic-icon {
        display: none;
    }

    .nav-middle .search-box input {
        width: 120px;
    }

    .nav-right img {
        display: none;
    }

    .nav-right .user-icon {
        display: inline-block;
        width: 30px;
        margin-right: 6px;
    }

    .vid-list {
        margin-left: 0px;
    }

    /* footer Css */
    footer {
        box-shadow: 0 0 10px rgba(0, 0, 0, 20%);
        position: sticky;
        bottom: 0px;
        height: 40px;
        justify-content: space-evenly;
        background: #ffffff;
    }

    footer a img {
        width: 20px;
    }

    footer a:nth-child(3) img {
        width: 30px;
    }

    footer a p {
        font-size: 10px;
    }

    footer a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer-flex-div {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 335px) {
    nav {
        padding: 10px;
    }

    .menu-icon {
        display: none;
    }

    .small-sidebar {
        display: none;
    }

    .container,
    .list-container {
        display: flex;
        flex-direction: column;
        padding-right: 5%;
        padding-left: 5%;
    }

    .container {
        padding-bottom: 0px;
    }

    .list-container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .nav-middle .search-box {
        padding: 8px 10px;
        display: none;
    }

    .nav-middle .search {
        width: 30px;
        padding: 7px;
        border: 0px;
        margin: 0px;
        margin-left: 50px;
    }

    .nav-middle .mic-icon {
        display: none;
    }

    .nav-left .logo {
        width: 85px;
    }

    .nav-middle .search-box input {
        /* width: 80px; */
        display: none;
    }

    .nav-right img {
        display: none;
    }

    .nav-right .user-icon {
        display: inline-block;
        width: 30px;
        margin-right: 6px;
        margin-left: -36px;
    }

    .vid-list {
        margin-left: 0px;
    }

    /* footer Css */
    footer {
        box-shadow: 0 0 10px rgba(0, 0, 0, 20%);
        position: sticky;
        bottom: 0px;
        height: 40px;
        justify-content: space-evenly;
        background: #ffffff;
    }

    footer a img {
        width: 20px;
    }

    footer a:nth-child(3) img {
        width: 30px;
    }

    footer a p {
        font-size: 10px;
    }

    footer a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer-flex-div {
        display: flex;
        align-items: center;
    }
}

/******************** Play-Video Page ********************/

/************ Side Bar ************/

.small-sidebar-play-video {
    display: none;
}

.sidebar {
    display: block;
    z-index: 8;
}

/********** Main Content **********/

.play-container {
    padding-left: 2%;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Play Video */

.play-video {
    flex-basis: 69%;
}

.play-video video {
    width: 100%;
}

.play-video .tags a {
    color: #2398ff;
    font-size: 13px;
}

.play-video h3 {
    font-weight: 600;
    font-size: 20px;
}

.play-video .play-video-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-right: 10px;
    font-size: 14px;
    color: #5a5a5a;
}

.play-video .play-video-info a img {
    width: 20px;
    margin-right: 8px;
}

.play-video .play-video-info a {
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}

.play-video hr {
    border: 0px;
    height: 1px;
    background: #ccc;
    margin: 10px 0px;
    padding-right: 10px;
}

.publisher {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-right: 10px;
}

.publisher div {
    flex: 1;
    margin-top: 4px;
    line-height: 18px;
}

.publisher img {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.publisher div p {
    color: #000000;
    font-weight: 600;
    font-size: 18px;
}

.publisher div span {
    font-size: 13px;
    color: #5a5a5a;
}

.publisher button {
    background: red;
    color: #ffffff;
    padding: 8px 30px;
    border: 0px;
    outline: 0px;
    border-radius: 4px;
    cursor: pointer;
}

.vid-description {
    padding-left: 55px;
    margin: 15px 0px;
}

.vid-description p {
    font-size: 14px;
    margin-bottom: 5px;
    color: #5a5a5a;
}

.play-video .before-comments {
    padding-right: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.play-video .before-comments h4 {
    font-size: 18px;
    color: #5a5a5a;
    margin-top: 15px;
    margin-right: 25px;
}

.play-video .before-comments img {
    padding-top: 12px;
    width: 25px;
    margin-right: 5px;
}

.add-comments {
    flex-wrap: wrap;
    /* justify-content: flex-end; */
    padding-right: 10px;
}

.add-comments img {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.add-comments div {
    width: 93.348%;
    /* cursor: pointer; */
}

.add-comments div input {
    cursor: text;
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
    outline: 0px;
    border: 0px;
    font-size: 15px;
    background-color: transparent;
    border-bottom: 1px solid #5a5a5a;
}

.button {
    margin-top: 8px;
    margin-left: 55px;
    display: none;
}

.button-show {
    display: block;
}

.add-comments .button button {
    outline: none;
    border: none;
    cursor: pointer;
    background: #5a5a5a;
    color: #ccc;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 15px;
}

.add-comments .button .cancel {
    display: none;
    margin-right: 5px;
    background: transparent;
    color: #5a5a5a;
    /* border-bottom: 0.5px solid #5a5a5a; */
}

.old-comments {
    margin-top: 25px;
    padding-right: 10px;
}

.old-comments img {
    width: 38px;
    border-radius: 50%;
    margin-right: 15px;
}

.old-comments div h3 {
    font-size: 14px;
    margin-bottom: 2px;
}

.old-comments div h3 span {
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}

.old-comments .comment-action {
    margin-left: 15px;
    margin-top: 10px;
}

.old-comments .comment-action .like {
    margin-left: 40px;
}

.old-comments .comment-action img {
    border-radius: 0px;
    margin-right: 8px;
    width: 20px;
}

.old-comments .comment-action span {
    padding-top: 1px;
    margin-right: 20px;
}

.old-comments .comment-action .reply {
    /* flex: 1; */
    font-size: 15px;
    margin-right: 10px;
}

.old-comments .comment-action .replies {
    font-size: 14px;
    padding-top: 1px;
    color: #2398ff;
}

/* Right Sidebar */

.right-sidebar {
    flex-basis: 30%;
}

.side-video-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.side-video-list .small-thumbnail {
    flex-basis: 49%;
}

.side-video-list .vid-info {
    flex-basis: 49%;
}

.side-video-list .small-thumbnail img {
    width: 100%;
    border-radius: 5px;
}

@media (max-width: 1262px) and (min-width: 1100px) {
    .add-comments div {
        width: 92.348%;
    }
}

@media (max-width: 1100px) and (min-width: 850px) {
    .add-comments div {
        width: 90%;
    }
}

@media (max-width: 850px) and (min-width: 680px) {
    .add-comments div {
        width: 87%;
    }

    .side-video-list {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
}

@media (max-width: 680px) and (min-width: 472px) {
    .add-comments div {
        width: 81.2%;
    }

    .side-video-list {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .play-video-info p {
        margin-bottom: 10px;
    }
}

@media (max-width: 472px) {
    .play-video video {
        position: sticky;
        top: 50px;
    }

    .add-comments div {
        width: 79.2%;
    }

    .side-video-list {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .play-video-info p {
        margin-bottom: 10px;
    }

    .play-video-info div a:nth-child(4) {
        display: none;
    }

    .publisher button {
        background: red;
        color: #ffffff;
        padding: 6px 24px;
        border: 0px;
        outline: 0px;
        border-radius: 4px;
        font-size: 10px;
        cursor: pointer;
    }

    .add-comments .button button {
        font-size: 10px;
    }

    .play-video .old-comments:last-child {
        margin-bottom: 20px;
        padding: 15px;
        border-bottom: 1px solid #ccc;
    }

    .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* .right-sidebar .side-video-list:last-child {
        margin-bottom: 110px;
    } */
}